*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  width: 100%;
  padding: 133px 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  height: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  color: #fff;
  width: 225px;
  padding: 1.5px 0;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7)
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;  
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after  {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button  {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px;
  min-height: 34px;
  cursor: pointer;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  width: 100%;
  min-height: 534px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1px 3px 2px 2px;
}

.content__list {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
  margin: -5px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding: 3px 0;
  margin: -3px 0;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position:center;
}

.more-button {
  width: 100%;
}



